<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- System Settings > Battery changes the lid action without a password.
     clave-lid accepts only ignore/suspend/lock/poweroff. -->
<policyconfig>
  <action id="org.clave.lid">
    <description>Change what happens when the lid is closed</description>
    <message>Authentication is required to change the lid action</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/clave-lid</annotate>
  </action>
</policyconfig>
