[Desktop Entry]
Type=Application
Name=Screenshot
Comment=Capture or record the screen, a window or an area
Exec=qs ipc call screenshot toolbar
Icon=clave-screenshot
Categories=Utility;
Keywords=screenshot;snip;capture;record;screen;
